<script lang="ts">
	import type { PageData } from './$types';
	import * as Dialog from '$lib/components/ui/dialog';
	import * as Tabs from './tabs';
	import Dash from '$lib/components/Dash.svelte';
	import Button from '$lib/components/ui/button/button.svelte';

	import BookingCard from './booking-card.svelte';
	import { ArrowRightIcon } from 'lucide-svelte';
	import Booking from '$lib/components/card/booking.svelte';
	export let data: PageData;
</script>

<!-- Display Page -->
<!-- <h4 class="text-4xl w-max bg-gradient-to-r from-cyan-400 via-cyan-500 to-sky-500 bg-clip-text text-transparent font-bold">
  Feed
</h4> -->

<Tabs.Root value="osteopath" class="w-full flex flex-col items-center">
	<Tabs.List>
		<Tabs.Trigger value="osteopath">Osteopaths</Tabs.Trigger>
		<Tabs.Trigger value="appointments">Appointments</Tabs.Trigger>
	</Tabs.List>
	<Tabs.Content value="osteopath">
		{#each Object.keys(data.by.osteopath) as osteopathId}
			{@const {
				osteopath: { user: osteopath }
			} = data.by.osteopath[osteopathId][0]}
			<div class="px-2 flex flex-col gap-y-2 mt-6">
				<div class="flex items-center justify-between gap-x-4">
					<div class="flex gap-x-4 items-center">
						<img src={osteopath.image} width={64} height={64} class="rounded-full" alt="" />
						<div class="flex flex-col">
							<h2 class="text-lg font-bold flex items-center gap-x-1">
								{osteopath.name}
							</h2>
							{#if osteopath.bio}
								<p class="text-sm line-clamp-2">{osteopath.bio}</p>
							{/if}
						</div>
					</div>
					<Dialog.Root>
						<Dialog.Trigger asChild let:builder>
							<Button size="sm" builders={[builder]} variant="outline" class="h-6 px-2 gap-x-1">
								Book <ArrowRightIcon class="w-3.5 h-3.5" />
							</Button>
						</Dialog.Trigger>
						<Dialog.Content class="sm:max-w-[425px]">
							<Dialog.Header>
								<Dialog.Title>Availables Slots</Dialog.Title>
							</Dialog.Header>
							{#each data.by.osteopath[osteopathId] as { date, duration, startAt, osteopath, userId, id }}
								{@const [hour, minute] = startAt?.split(':').map((v) => +v)}
								<BookingCard
									appointmentId={id}
									osteopath={{
										...osteopath.user,
										id: osteopath.id,
										userId: osteopath.user.id
									}}
									{date}
									time={[hour, minute]}
									{duration}
								/>
							{/each}
						</Dialog.Content>
					</Dialog.Root>
				</div>
				<!-- <ul class="pl-1 gap-y-2 flex flex-col">
						{#each byosteopathID[osteopathId] as { date, duration }}
							<li>{date}</li>
						{/each}
					</ul> -->
			</div>
		{/each}
	</Tabs.Content>
	<Tabs.Content value="appointments">
		<ul class="flex flex-col gap-y-6">
			{#each Object.keys(data.by.dates) as date}
				<li class="px-2 flex flex-col gap-y-2">
					<h2 class="text-lg font-bold flex items-center gap-x-1">
						<Dash />
						<span> {date} </span>
					</h2>
					<ul class="pl-1 gap-y-2 flex flex-col">
						{#each data.by.dates[date] as { duration, startAt, osteopath, id, userId }}
							{@const [hour, minute] = startAt?.split(':').map((v) => +v)}
							{#if userId}
								Booked
							{/if}
							<Booking
								appointmentId={id}
								osteopath={{
									...osteopath.user,
									id: osteopath.id,
									userId: osteopath.user.id
								}}
								time={[hour, minute]}
								{duration}
							/>
						{/each}
					</ul>
				</li>
			{/each}
		</ul>
	</Tabs.Content>
</Tabs.Root>

<!-- <div class="w-max rounded-full border">
    <button class="rounded-full px-3 py-1 hover:bg-slate-100 text-slate-800">Osteopaths</button>
    <button class="rounded-full px-3 py-1 bg-blue-600 text-slate-100">Appointments</button>
</div> -->
