<script lang="ts">
	import '../app.postcss';
	import {
		ArrowRightIcon,
		BookIcon,
		CalendarPlusIcon,
		HomeIcon,
		LogOutIcon,
		MenuIcon,
		NewspaperIcon,
		PlusIcon
	} from 'lucide-svelte';
	import Logo from '$lib/components/ui/logo.svelte';
	import Google from '$lib/components/ui/icons/google.svelte';
	import Button from '$lib/components/ui/button/button.svelte';
	import { enhance } from '$app/forms';
	import { CheckIcon, Loader2Icon } from 'lucide-svelte';
	import type { LayoutData } from './$types';
	import { page } from '$app/stores';
	import { ChoiceGroup, ChoiceGroupItem } from '$lib/components/ui/choice-group';
	import { Temporal } from '@js-temporal/polyfill';
	import * as DropdownMenu from '$lib/components/ui/dropdown-menu/index';
	import { ProgressBar } from '@prgm/sveltekit-progress-bar';
	import { cn, isOsteopath } from '$lib/helpers/utils';
	import { Toaster } from 'svelte-sonner';
	import Input from '$lib/components/ui/input/input.svelte';
	import Label from '$lib/components/ui/label/label.svelte';
	let loading = false;
	const today = Temporal.Now.plainDateISO();
	let dialogEl: HTMLDialogElement;
	let value: any;
	let loadingTimeslotAction = false;
	export let data: LayoutData;

	$: isMd =
		$page.url.pathname.includes('privacy-policy') || $page.url.pathname.includes('term-of-service');
	// $page.url.pathname.includes('/articles/');
</script>

<svelte:head>
	<title>Clinic-App ( Appointment Scheduling App for Osteopath's )</title>
</svelte:head>

<Toaster />
<ProgressBar class="text-green-500" />
<header class="flex w-full max-w-5xl items-center justify-between rounded-full sm:p-1 mb-10">
	<div id="logo" class="flex items-center gap-1 sm:gap-x-1.5">
		{#if $page.url.pathname === '/'}
			{#if data.user?.image}
				<a href={`/students/student/${data.user.id}`}>
					<img
						width={48}
						height={48}
						src={data.user.image}
						aria-hidden="true"
						alt="Avatar Picture"
					/>
				</a>
			{:else}
				<Logo size={36} class="" />
				<span
					class="bg-gradient-to-tr whitespace-nowrap from-sky-500 via-blue-500 to-indigo-400 bg-clip-text text-2xl xs:text-3xl/8 font-semibold text-transparent"
				>
					Clinic-App
				</span>
			{/if}
		{:else}
			<a href="/" class="flex items-center gap-1 sm:gap-x-1.5">
				<Logo size={36} />
				<span
					class="bg-gradient-to-tr whitespace-nowrap from-sky-500 via-blue-500 to-indigo-400 bg-clip-text text-2xl xs:text-3xl/8 font-semibold text-transparent"
				>
					Clinic-App
				</span>
			</a>
		{/if}
	</div>
	<nav class="flex items-center gap-x-2">
		<a
			href="/"
			class="hidden sm:flex items-center gap-x-1 border border-slate-200 shadow-sm transition-colors text-slate-800 select-none font-medium px-2.5 py-1 hover:bg-slate-100 rounded-full"
		>
			<HomeIcon size={20} />
			<span class="text-base">Home</span>
		</a>
		<a
			href="/articles"
			class="hidden sm:flex items-center gap-x-1 border border-slate-200 shadow-sm transition-colors text-slate-800 select-none font-medium px-2.5 py-1 hover:bg-slate-100 rounded-full"
		>
			<NewspaperIcon size={20} />
			Articles
		</a>
		{#if data.logged}
			{#if $page.url.pathname === '/'}
				<a
					class="group relative inline-flex tab-highlight-none items-center gap-x-2 h-9 px-3 rounded-full
                                text-sm font-semibold whitespace-nowrap
                                
                                hover:bg-slate-600
                                bg-slate-700
                                
                                text-white/90
                                hover:text-white

                                focus:outline-none
                                focus:ring-2
                                ring-offset-2
                                ring-offset-white
                                focus:ring-slate-500
                            "
					href="/app"
				>
					Go to App
					<ArrowRightIcon />
				</a>
			{:else}
				<DropdownMenu.Root
					positioning={{
						placement: 'top-end'
					}}
				>
					<DropdownMenu.Trigger asChild let:builder>
						<Button builders={[builder]} size="icon" variant="outline">
							<MenuIcon />
						</Button>
					</DropdownMenu.Trigger>
					<DropdownMenu.Content class="w-max">
						<DropdownMenu.Item asChild>
							<form
								method="POST"
								action="/?/logout"
								use:enhance={() => {
									loading = true;
									return async ({ update }) => {
										await update();
										data.logged = false;
										loading = false;
									};
								}}
								class="w-full"
							>
								<Button
									disabled={loading}
									class="w-full items-center justify-start gap-x-2"
									variant="destructive-subtle"
									type="submit"
								>
									{#if loading}
										<Loader2Icon />
									{:else}
										<LogOutIcon />
									{/if}
									Logout
								</Button>
							</form>
						</DropdownMenu.Item>
					</DropdownMenu.Content>
				</DropdownMenu.Root>
			{/if}
		{:else}
			<form
				method="POST"
				action="/?/login"
				use:enhance={() => {
					loading = true;
					return async ({ update }) => {
						await update();
						data.logged = false;
						loading = false;
					};
				}}
			>
				<Button
					disabled={loading}
					type="submit"
					class="gap-x-2 px-2 sm:px-3 rounded-full"
					variant="outline"
				>
					{#if loading}
						<Loader2Icon />
					{:else}
						<Google />
					{/if}
					<span class="hidden xs:block">Continue With Google</span>
					<span class="xs:hidden">Google Sign-up</span>
				</Button>
			</form>
		{/if}
	</nav>
</header>
<!-- <pre class="max-w-md overflow-auto">{JSON.stringify(data, null, 2)}</pre> -->

<main
	class={cn(
		`max-w-5xl flex flex-col w-full min-h-[calc(100vh-400px)]`,
		isMd ? 'prose prose-xl prose-h1:text-indigo-500' : ''
	)}
>
	<slot />
</main>

{#if isOsteopath(data.user?.email)}
	<dialog bind:this={dialogEl} class="p-4 w-full max-w-xs rounded-md shadow-md">
		<form
			method="post"
			action="/?/dialog"
			use:enhance={({ formData }) => {
				console.log(formData);
				loadingTimeslotAction = true;
				return async ({ update }) => {
					await update({ reset: false });
					loadingTimeslotAction = false;
					dialogEl.close();
				};
			}}
		>
			<div class="flex flex-col mb-4">
				<Label for="on">Date</Label>
				<div class="mt-2">
					<Input
						class="w-full"
						type="date"
						name="on"
						min={today.toString()}
						max={today.add({ days: 21 }).toString()}
						id="on"
						value={today.toString()}
					/>
				</div>
			</div>
			<div class="flex flex-col mb-4">
				<Label for="start-at">Start At</Label>
				<div class="mt-2">
					<Input
						class="w-full invalid:text-rose-500"
						type="time"
						name="start-at"
						id="start-at"
						value="13:00"
						min={'06:00'}
						max={'20:00'}
					/>
				</div>
			</div>
			<div class="flex flex-col mb-6">
				<h4 class="text-sm font-semibold">Duration</h4>
				<ChoiceGroup
					defaultValue="30"
					class="inline-flex gap-x-2 w-full mt-2"
					on:valueChange={({ detail: newValue }) => (value = newValue)}
				>
					<div class="flex items-center space-x-2">
						<ChoiceGroupItem name="duration" value="30" id="r1" />
						<label aria-hidden="true" class="hidden" for="r1">30 minutes</label>
					</div>
					<div class="flex items-center space-x-2">
						<ChoiceGroupItem name="duration" value="45" id="r2" />
						<label aria-hidden="true" class="hidden" for="r2">45 minutes</label>
					</div>
					<div class="flex items-center space-x-2">
						<ChoiceGroupItem name="duration" value="60" id="r3" />
						<label aria-hidden="true" class="hidden" for="r3">60 minutes</label>
					</div>
				</ChoiceGroup>
			</div>
			<div class="inline-flex gap-x-4">
				<Button
					disabled={loadingTimeslotAction}
					value="cancel"
					variant="secondary"
					formmethod="dialog"
				>
					Cancel
				</Button>
				<Button
					type="submit"
					{value}
					disabled={loadingTimeslotAction}
					variant="default"
					class="gap-x-2"
				>
					{#if loadingTimeslotAction}
						<Loader2Icon class="animate-spin" />
					{:else}
						<CheckIcon />
					{/if}
					Submit
				</Button>
			</div>
		</form>
	</dialog>
	<Button
		class="fixed bottom-10 w-14 h-14 border border-slate-300/40 bg-slate-200 [@supports(backdrop-filter:blur(0))]:bg-slate-200/20 [@supports(backdrop-filter:blur(0))]:backdrop-blur-sm  hover:bg-slate-100 backdrop-saturate-150 text-slate-800 p-2 rounded-full right-6"
		variant="default"
		on:click={() => dialogEl.showModal()}
	>
		<CalendarPlusIcon strokeWidth={2.4} />
	</Button>
{/if}

<footer class="w-full max-w-5xl py-2 pl-2 pr-4 mt-48 mb-10 flex flex-col shadow-md rounded-xl">
	<div class="flex flex-col sm:flex-row items-center gap-y-4 mb-2 sm:mb-1 justify-between w-full">
		<div class="flex items-center gap-x-2">
			<Logo size={36} />
			<span
				class="bg-gradient-to-tr whitespace-nowrap from-sky-500 via-blue-500 to-indigo-400 bg-clip-text text-2xl xs:text-3xl/8 font-semibold text-transparent"
			>
				Clinic-App
			</span>
		</div>
		<div
			class="flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700"
		>
			<a href="/privacy-policy" class="hover:underline">Privacy policy</a>
			<div class="h-4 w-px bg-slate-500/20"></div>
			<a href="/term-of-service" class="hover:underline">Term of Service</a>
		</div>
	</div>
	<span class="p-px mt-1 font-medium text-sm text-slate-500 text-center sm:text-left"
		>built with sveltekit, typescript,<br class="block xs:hidden" /> tailwindcss and tursodb</span
	>
</footer>
