<script lang="ts">
	import { enhance } from '$app/forms';
	import Button from '$lib/components/ui/button/button.svelte';
	import { cn } from '$lib/helpers/utils';
	import {
		ArrowRightCircleIcon,
		CalendarIcon,
		CircleDollarSignIcon,
		LibrarySquareIcon,
		PencilRulerIcon,
		Share2Icon,
		UsersIcon,
		ZapIcon
	} from 'lucide-svelte';
	import { annotate, annotationGroup } from 'rough-notation';
	import { onMount } from 'svelte';
	import { animate, scroll } from 'motion';
	import type { PageData } from './$types';

	let el: HTMLElement;
	let c1: HTMLElement;
	let h1s: HTMLElement[] = [];
	// These are the features el
	let els_root: HTMLElement[] = [];
	onMount(() => {
		// const e = document.querySelector('#myElement');
		const ela = annotate(el, { type: 'highlight', color: '#33415513' });
		const h1a = h1s.map((h1, index) =>
			annotate(h1, {
				type: 'highlight',
				padding: -4,
				multiline: true,
				color: `#38bdf813`,
				iterations: 1,
				animationDuration: 500
			})
		);
		const c1a = annotate(c1, { type: 'bracket', brackets: ['left', 'right'] });
		const g1 = annotationGroup([...h1a, ela, c1a]);
		g1.show();
		els_root.forEach((el) => {
			scroll(
				animate(
					el,
					{ opacity: [0, 1, 1, 0], y: [0, -20, -20, 0], x: [-100, 0, 0, 100] },
					{
						easing: 'ease-out'
					}
				),
				{
					target: el,
					offset: ['75% end', '150% end', 'start start', 'end start']
				}
			);
		});
	});

	let loading = false;

	const items = [
		{
			bg: 'bg-gradient-to-tr from-cyan-500 to-blue-500',
			status: {
				stage: 'draft',
				label: 'Comming soon'
			},
			icon: {
				Icon: CalendarIcon,
				cls: ''
			},
			label: 'Calendar Integration',
			desc: 'Google Calendar get updated, whenever a appointment slots get booked'
		},
		{
			bg: 'bg-gradient-to-tr from-sky-400 to-cyan-500',
			icon: {
				Icon: LibrarySquareIcon,
				cls: ''
			},
			label: 'Record Tracking',
			desc: 'With this application you can easily keep track of all your osteopathy sessions'
		},
		{
			bg: 'bg-gradient-to-tr from-emerald-500 to-teal-500',
			icon: {
				Icon: UsersIcon,
				cls: ''
			},
			label: 'Open Social Platform',
			desc: 'You can share your profile link with others along with check other peoples profiles'
		},
		{
			bg: 'bg-gradient-to-tr from-teal-500 to-cyan-500',
			icon: {
				Icon: Share2Icon,
				cls: 'transform -translate-x-0.5'
			},
			label: 'Share with others',
			desc: 'You can share your appointments with others, through a single link'
		},
		{
			bg: 'bg-gradient-to-tr from-emerald-500 to-teal-500',
			icon: {
				Icon: ZapIcon,
				cls: ''
			},
			label: 'Performant',
			desc: 'loads faster than most of website on internet, even at low-internet speeds'
		},
		{
			bg: 'bg-gradient-to-tr from-blue-500 to-indigo-500',
			icon: {
				Icon: CircleDollarSignIcon,
				cls: ''
			},
			label: 'Cost Efficient',
			desc: "Although, can't afford to host AWS server, yet cost is minimum for now!"
		},
		{
			bg: 'bg-gradient-to-tr from-pink-500 to-rose-500',
			icon: {
				Icon: PencilRulerIcon,
				cls: ''
			},
			label: 'UI & UX',
			desc: 'User Interface is built specifically for osteopathy university students'
		},
		{
			bg: 'bg-gradient-to-tr from-orange-500 to-yellow-500',
			icon: {
				Icon: CalendarIcon,
				cls: ''
			},
			label: 'Feedback Loop',
			desc: 'This Product is open to all kind of feedback to improve the application in future'
		}
	];

	export let data: PageData;
</script>

<div class="mb-14">
	<h1
		class="mb-4 sm:mb-6 text-5xl xs:text-6xl sm:text-7xl md:text-8xl lg:text-9xl text-transparent font-bold"
	>
		<span
			bind:this={h1s[0]}
			class="bg-gradient-to-r from-sky-400 via-blue-500 to-indigo-500 bg-clip-text"
			>Appointment</span
		>
		<span
			bind:this={h1s[1]}
			class="bg-gradient-to-r from-sky-400 via-blue-500 to-indigo-500 bg-clip-text">Scheduling</span
		>
		<span
			bind:this={h1s[2]}
			class="bg-gradient-to-r from-sky-400 via-blue-500 to-indigo-500 bg-clip-text">App</span
		>
	</h1>
	<p class="text-slate-700 text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-semibold">
		For <span bind:this={el} class="">Osteopath's</span>
	</p>
</div>
<div class="">
	<form
		method="POST"
		action="/?/login"
		use:enhance={() => {
			loading = true;
			return async ({ update }) => {
				await update();
				data.logged = false;
				loading = false;
			};
		}}
	>
		<Button
			disabled={loading}
			type="submit"
			size="lg"
			variant="outline"
			class="gap-x-2 group rounded-full"
		>
			Get Started
			<ArrowRightCircleIcon
				class="group-focus:translate-x-4 group-hover:translate-x-2 transition-transform"
			/>
		</Button>
	</form>
</div>

<div class="mt-44">
	<h4
		bind:this={c1}
		class="ml-1 text-slate-700 text-2xl xs:text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-black mb-20 w-max"
	>
		Features
	</h4>
	<ul class="grid grid-cols-1 md:grid-cols-2 gap-y-8 sm:gap-y-10 sm:gap-x-6">
		{#each items as { bg, status, icon: { Icon, cls }, label, desc }, i}
			<li bind:this={els_root[i]} class="">
				<div class="flex flex-col gap-y-4 sm:gap-y-6 mb-2.5 sm:mb-4">
					<div class="flex items-center justify-between">
						<div class="p-2 rounded-full border border-blue-400 w-max">
							<Icon class={cn('w-8 h-8 sm:w-12 sm:h-12 text-blue-500', cls)} />
						</div>
						{#if status?.stage && status.stage !== 'released'}
							<span class="text-lg sm:text-xl/6 px-2 py-1 bg-slate-100 rounded-full text-slate-700">
								{status.label}
							</span>
						{/if}
					</div>
					<h4 class="text-4xl sm:text-5xl font-bold text-blue-950">{label}</h4>
				</div>
				<p class="text-xl sm:text-3xl text-slate-600">
					{desc}
				</p>
			</li>
		{/each}
	</ul>
</div>
