<script lang="ts">
	import type { PageData } from './$types';
	import groupBy from 'just-group-by';

	export let data: PageData;
	$: byOsteopathIDs = groupBy(data.appointments ?? [], (appointment) => appointment.osteopathId);
</script>

<h1 class="text-xl font-bold m-4">Appointments</h1>
<ul class="flex flex-col gap-y-3">
	{#each Object.keys(byOsteopathIDs) as osteopathID}
		{@const osteopathName = byOsteopathIDs[osteopathID][0]['osteopath']['user']['name']}
		<li class="px-2 flex flex-col gap-y-2">
			<h2 class="text-lg font-bold flex items-center gap-x-1">
				{osteopathName}
			</h2>
			<ul class="pl-1 gap-y-2 flex flex-col">
				{#each byOsteopathIDs[osteopathID] as { duration, startAt, osteopath, id, userId, user }}
					<li>
						{startAt} - {duration}
						{user ? user.name : 'Not Assigned'}
					</li>
				{/each}
			</ul>
		</li>
	{/each}
	<!-- {#each data.appointments as appointment}
		<li class="p-4 shadow flex gap-x-2">
			<img
				width={64}
				height={64}
				class="object-contain"
				src={appointment.osteopath.user.image}
				alt=""
			/>
			<div class="flex flex-col">
				<h3 class="">
					{appointment.osteopath.user.name}
				</h3>
				<a
					href={`/students/student/${appointment.osteopath.user.id}`}
					class="w-max mt-auto underline flex items-center"
				>
					Check out <ArrowRightIcon />
				</a>
			</div>
		</li>
	{/each} -->
</ul>
