<script lang="ts">
	import BookedCard from '$lib/components/card/booked.svelte';
	import BookingCard from '$lib/components/card/booking.svelte';
	import groupBy from 'just-group-by';
	import type { PageData } from './$types';
	import Dash from '$lib/components/Dash.svelte';
	export let data: PageData;

	$: appointments = data.appointments.filter(
		(appointment) => appointment.osteopath.user.id !== data.user?.id && appointment.userId === null
	);

	$: booked_appointments = data.appointments.filter(
		(appointment) =>
			appointment.osteopath.user.id !== data.user?.id && appointment.userId === data.user?.id
	);

	$: bydates = groupBy(appointments ?? [], (appointment) => appointment.date);

	$: booked_bydates = groupBy(booked_appointments ?? [], (appointment) => appointment.date);
</script>

<div class="w-full flex flex-row gap-x-4 overflow-x-scroll mb-10 mt-3">
	{#each data.osteopaths as osteopath}
		<a
			href={`/osteopath${data.user?.id === osteopath.userId ? '/verified/' : '/'}${osteopath.id}`}
			class="flex cursor-pointer flex-col shrink-0 w-40 gap-y-1 p-2 bg-card border-border border-2 rounded-md"
		>
			<div class="w-full flex items-center justify-center mb-1">
				<img
					class="w-full aspect-square rounded-md"
					src={osteopath.user.image}
					alt={`${osteopath.user.name} Profile Image`}
				/>
			</div>
			<h4 class="text-base w-max font-bold">{osteopath.user.name}</h4>
			<p class="line-clamp-3 text-sm">{osteopath.user.bio}</p>
		</a>
	{/each}
</div>
<div class="w-full px-2 mb-10">
	<h2 class="text-xl mb-8">Your Booked Appointments</h2>
	<ul class="flex flex-col gap-y-6">
		{#each Object.keys(booked_bydates) as date}
			<li class="px-2 flex flex-col gap-y-2">
				<h2 class="text-lg font-bold flex items-center gap-x-1">
					<Dash />
					<span> {date} </span>
				</h2>
				<ul class="pl-1 gap-y-2 flex flex-col">
					{#each booked_bydates[date] as { duration, startAt, osteopath, id, userId }}
						{@const [hour, minute] = startAt?.split(':').map((v) => +v)}
						<BookedCard
							appointmentId={id}
							osteopath={{
								...osteopath.user,
								id: osteopath.id,
								userId: osteopath.user.id
							}}
							time={[hour, minute]}
							{duration}
						/>
					{/each}
				</ul>
			</li>
		{/each}
	</ul>
</div>

<div class="w-full px-2">
	<h2 class="text-xl mb-8">Appointments</h2>
	<ul class="flex flex-col gap-y-6">
		{#each Object.keys(bydates) as date}
			<li class="px-2 flex flex-col gap-y-2">
				<h2 class="text-lg font-bold flex items-center gap-x-1">
					<Dash />
					<span> {date} </span>
				</h2>
				<ul class="pl-1 gap-y-2 flex flex-col">
					{#each bydates[date] as { duration, startAt, osteopath, id, userId }}
						{@const [hour, minute] = startAt?.split(':').map((v) => +v)}
						{#if userId}
							Booked
						{/if}
						<BookingCard
							appointmentId={id}
							osteopath={{
								...osteopath.user,
								id: osteopath.id,
								userId: osteopath.user.id
							}}
							time={[hour, minute]}
							{duration}
						/>
					{/each}
				</ul>
			</li>
		{/each}
	</ul>
</div>
