<script lang="ts">
	import * as Dialog from '$lib/components/ui/dialog';
	import Dash from '$lib/components/Dash.svelte';
	import { Temporal } from '@js-temporal/polyfill';
	import Button from '$lib/components/ui/button/button.svelte';
	import { InfoIcon } from 'lucide-svelte';
	import { page } from '$app/stores';

	export let time: [number, number];
	export let duration: '30' | '45' | '60' | null | undefined = '30';
	export let logged: boolean = true;
	export let osteopath: {
		id: string;
		userId: string;
		name: string | null;
		email: string | null;
		image: string | null;
		phone_number: string | null;
		phone_number_verified: boolean | null;
		bio: string | null;
	};
	export let appointmentId: string;
	$: user = $page.data.user;
</script>

<li class="flex items-center gap-x-2 w-full justify-between">
	<div class="flex items-center w-full">
		<div class="flex gap-x-1 w-full">
			<div class="flex items-center shrink-0">
				<span
					>{new Temporal.PlainTime(time[0], time[1]).toLocaleString('en-us', {
						hour: '2-digit',
						minute: '2-digit'
					})}
				</span>
				<Dash space={4} />
				<span class="whitespace-nowrap">
					{duration} min
				</span>
			</div>
			<div class="flex grow gap-x-1 overflow-x-auto">
				<span class="text-muted-foreground whitespace-nowrap w-1">
					{osteopath.name}
				</span>
			</div>
		</div>
	</div>
	<Dialog.Root>
		<Dialog.Trigger asChild let:builder>
			<Button size="sm" builders={[builder]} variant="outline" class="h-6 px-2 gap-x-1">
				info <InfoIcon class="w-3.5 h-3.5" />
			</Button>
		</Dialog.Trigger>
		<Dialog.Content class="sm:max-w-[425px] flex">
			<img src={osteopath.image} class="rounded-full" alt="Photo" aria-hidden="true" />
			<div class="flex flex-col justify-between">
				<h3 class="text-2xl font-semibold">{osteopath.name}</h3>
				<div class="flex flex-wrap gap-2">
					<div class="font-semibold px-1 py-px rounded-md text-slate-600 bg-slate-100">
						Duration: {duration}
					</div>
					<div class="font-semibold px-1 py-px rounded-md text-slate-600 bg-slate-100">
						Room No: 104
					</div>
					<div class="font-semibold px-1 py-px rounded-md text-slate-600 bg-slate-100">
						Contacts: 8769514159
					</div>
				</div>
			</div>
		</Dialog.Content>
	</Dialog.Root>
</li>
