<script lang="ts">
	import * as Dialog from '$lib/components/ui/dialog';
	import Dash from '$lib/components/Dash.svelte';
	import { Temporal } from '@js-temporal/polyfill';
	import Button from '$lib/components/ui/button/button.svelte';
	import { ArrowRightIcon } from 'lucide-svelte';
	import Google from '$lib/components/ui/icons/google.svelte';
	import { page } from '$app/stores';

	export let time: [number, number];
	export let duration: '30' | '45' | '60' | null | undefined = '30';
	export let logged: boolean = true;
	export let osteopath: {
		id: string;
		userId: string;
		name: string | null;
		email: string | null;
		image: string | null;
		phone_number: string | null;
		phone_number_verified: boolean | null;
		bio: string | null;
	};
	export let appointmentId: string;
	$: user = $page.data.user;
</script>

<li class="flex items-center gap-x-2 w-full justify-between">
	<div class="flex items-center w-full">
		<div class="flex gap-x-1 w-full">
			<div class="flex items-center shrink-0">
				<span
					>{new Temporal.PlainTime(time[0], time[1]).toLocaleString('en-us', {
						hour: '2-digit',
						minute: '2-digit'
					})}
				</span>
				<Dash space={4} />
				<span class="whitespace-nowrap">
					{duration} min
				</span>
			</div>
			<div class="flex grow gap-x-1 overflow-x-auto">
				<span class="text-muted-foreground whitespace-nowrap w-1">
					{osteopath.name}
				</span>
			</div>
		</div>
	</div>
	{#if logged && user}
		<form method="POST" action="/?/book">
			<input type="text" name="userId" id="userId" hidden value={user.id} />
			<input type="text" name="osteopathId" id="osteopathId" hidden value={osteopath.id} />
			<input type="text" name="appointmentId" id="appointmentId" hidden value={appointmentId} />
			<Button
				on:click={() => console.log(user, osteopath)}
				size="sm"
				variant="outline"
				class="h-6 px-2 gap-x-1"
				type="submit"
			>
				Book <ArrowRightIcon class="w-3.5 h-3.5" />
			</Button>
		</form>
	{:else}
		<Dialog.Root>
			<Dialog.Trigger asChild let:builder>
				<Button size="sm" builders={[builder]} variant="outline" class="h-6 px-2 gap-x-1">
					Book <ArrowRightIcon class="w-3.5 h-3.5" />
				</Button>
			</Dialog.Trigger>
			<Dialog.Content class="sm:max-w-[425px]">
				You need to login with your university google account in order to proceed with booking this
				appointment!
				<Dialog.Footer>
					<form method="POST" action="/?/login">
						<Button type="submit" class="gap-x-2 px-3" variant="outline">
							<Google />
							Login With University Google Mail
						</Button>
					</form>
				</Dialog.Footer>
			</Dialog.Content>
		</Dialog.Root>
	{/if}
</li>
