<script lang="ts">
	import { ArrowUpRightIcon } from 'lucide-svelte';
	import { formatDate } from './format-date.js';

	export let data;
</script>

<!-- Articles -->
<section>
	<div class="grid sm:grid-cols-2 gap-6">
		{#each data.articles as article}
			<a
				href={`articles/${article.slug}`}
				class="p-2 group shadow hover:shadow-slate-300 shadow-transparent rounded-lg relative flex flex-col"
			>
				<ArrowUpRightIcon
					class="group-hover:flex hidden w-7 md:w-10 h-7 md:h-10 absolute right-2 top-2"
				/>
				<h4 class="capitalize text-4xl md:text-6xl font-bold mb-2 sm:mb-3 md:mb-4">
					{article.title}
				</h4>
				<p class="text-slate-600 text-xl md:text-3xl font-semibold mb-3 sm:mb-4 md:mb-6">
					{formatDate(article.date)}
				</p>
				<p class="description text-xl md:text-3xl">{article.description}</p>
			</a>
		{/each}
	</div>
</section>
