<script lang="ts">
	import { formatDate } from '../format-date.js';

	export let data;
</script>

<!-- SEO -->
<svelte:head>
	<title>{data.meta.title}</title>
	<meta property="og:type" content="article" />
	<meta property="og:title" content={data.meta.title} />
</svelte:head>

<!-- Title -->
<hgroup class="flex flex-col gap-y-6 mb-10">
	<h1
		class="pb-2 text-indigo-500 text-4xl xs:text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold"
	>
		{data.meta.title}
	</h1>
	<p class="text-slate-500 text-base xs:text-lg sm:text-xl md:text-2xl lg:text-3xl font-medium">
		Published at {formatDate(data.meta.date)}
	</p>
</hgroup>

<p class="text-slate-700 text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold mb-20">
	{data.meta.description}
</p>

<!-- Tags -->
<!-- <div class="tags">
	{#each data.meta.categories as category}
		<span class="surface-4">&num;{category}</span>
	{/each}
</div> -->

<!-- Article -->
<div class="prose w-full prose-lg prose-headings:text-slate-700">
	<svelte:component this={data.content} />
</div>

<span class="text-slate-500 my-10 text-xl">In Progress ...</span>
<!-- <style>
	article {
		max-inline-size: var(--size-content-3);
		margin-inline: auto;
	}

	h1 {
		text-transform: capitalize;
	}

	h1 + p {
		margin-top: var(--size-2);
		color: var(--text-2);
	}

	.tags {
		display: flex;
		gap: var(--size-3);
		margin-top: var(--size-7);
	}

	.tags > * {
		padding: var(--size-2) var(--size-3);
		border-radius: var(--radius-round);
	}
</style> -->
